DiscordPrivateTicket/tickets
DiscordPrivateTicket/conf
DiscordPrivateTicket/.idea
.idea
DiscordPrivateTicket/vers.txt
DiscordPrivateTicket/settings/vers.txt
DiscordPrivateTicket/settings/settings.txt
DiscordPrivateTicket/settings/529819882678648852/intro.txt
DiscordPrivateTicket/run.bat
DiscordPrivateTicket/run.bat
DiscordPrivateTicket/__pycache__/main.cpython-36.pyc
DiscordPrivateTicket/run.bat
DiscordPrivateTicket/database/data.db
DiscordPrivateTicket/__pycache__/crypto.cpython-36.pyc
